version: '3.8'
services:
  api:
    image: ghcr.io/tomislav98/STCMS_project:latest
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: stcms_monolith
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://database:27017/stcms_db
      - NODE_ENV=production
    depends_on:
      database:
        condition: service_healthy
    restart: always

  database:
    image: mongo:latest
    container_name: stcms_mongodb
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
